.containerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
}

.containerTitle {
    color: #fff;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardCadastro {
    display: flex;
}

.blueSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 68vh;
    border-radius: 10px 0 0 10px;
    background-color: var(--azul-escuro);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 40vw;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
}

.titleForm {
    font-size: 32px;
    color: var(--azul-escuro);
}

.containerForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputCadastro {
    border: none;
    border-radius: 5px;
    padding: 0 0 0 1%;
    background-color: var(--cinza);
    width: 20vw;
    height: 5vh;
}

@media (max-width: 768px) {
    .blueSection {
        display: none;
    }

    .containerForm {
        display: flex;
        align-items: center;
    }

    .form {
        border-radius: 10px 10px 10px;
        width: 80vw;
        height: 80vh;
        padding-bottom: 10%;

        display: flex;
        gap: 1px;
    }


    .inputCadastro {
        width: 70vw;
    }
}

@media (min-width:770px) and (max-width: 1589px){
    .blueSection {
        display: none;
    }

    .containerForm {
        display: flex;
        align-items: center;
    }

    .form { 
        justify-content: center;
        border-radius: 10px 10px 10px 10px;
        height: 70vh;
    }
}

@media (min-width: 1593px) {
    .blueSection {
        display: flex;
    }
    .form {
        width: 40vw;
        border-radius: 0 10px 10px 0;
    }
}
