.sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/sea-horizon-sunset-clouds-sky-1316283-wallhere.com.jpg');
    background-size: cover;
    background-position: center; 
    height: 100vh; 

    @media screen and (max-width: 768px){
        max-height: 100%;
        background-image: url('../assets/sea-horizon-sunset-clouds-sky-1316283-wallhere.com.jpg');
    }
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-principal);

    @media screen and (max-width: 1540px) { 
        .titleStyle{
            display: none;
        }
        
        .mapa {
            display: none;
        }
        
        .localizacaoSpan {
            display: none;
        }
    }
}

.titleStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    font-size: 32px;
}

.cardContato {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;

    background-color: rgba(53, 78, 103, 0.9);
    padding: 5% 7% 5% 7%;
    border-radius: 10px;
    
    @media screen and (max-width: 1540px) { 
        flex-direction: column;
        align-items: center;
        gap: 20px;  
    }
}


.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;

    background-color: var(--azul-escuro);
    padding: 4% 5% 10% 5%;
    border-radius: 10px;

    @media screen and (max-width: 1540px) { 
        padding: 20% 35% 10% 35%;
    }
}

.containerInput {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.labelStyle {
    color: var(--cinza);
}

.inputStyle {
    width: 15vw;
    height: 4vh;

    border: none;
    border-radius: 10px;

}

.inputStyleQuestion {
    width: 15vw;
    padding: 1% 0 65% 1%;
    border-radius: 10px;
    border: none;
}

.inputStyleQuestion::placeholder {
    text-align: start; 
    padding-top: 5px; 
}

.mapa {

}

.localizacaoSpan {

}