.sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/sea-horizon-sunset-clouds-sky-1316283-wallhere.com.jpg');
    background-size: cover;
    background-position: center; 
    height: 100vh; 
}

.cardContato {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;

    background-color: rgba(53, 78, 103, 0.9);
    padding: 5% 7% 5% 7%;
    border-radius: 10px;
}

.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;

    background-color: var(--azul-escuro);
    padding: 4% 5% 10% 5%;
    border-radius: 10px;
}

.containerInput {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.labelStyle {
    color: #C0C0C0;
}

.inputStyle {
    width: 15vw;
    height: 4vh;

    border: none;
    border-radius: 10px;

}

.inputStyleQuestion {
    width: 15vw;
    height: 20vh;
    border-radius: 10px;
    border: none;
}

.inputStyleQuestion::placeholder {
    text-align: start; 
    padding-top: 5px; 
}