.sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/sea-horizon-sunset-clouds-sky-1316283-wallhere.com.jpg');
    background-size: cover;
    background-position: center; 
    height: 100vh; 

    @media screen and (max-width: 768px){
        max-height: 100%;
        background-image: url('../assets/sea-horizon-sunset-clouds-sky-1316283-wallhere.com.jpg');
    }
}

.logoOceania {

}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-principal);
}

.titleStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    font-size: 32px;
}

.cardContato {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;

    background-color: rgba(53, 78, 103, 0.9);
    width: 70vw;
    height: 80vh;
    padding-top: 3%;
    border-radius: 10px;
    

}


.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;

    background-color: var(--azul-escuro);
    padding-top: 2%;
    width: 20vw;
    height: 70vh;
    border-radius: 10px;

}

.containerInput {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.labelStyle {
    color: var(--cinza);
}

.inputStyle {
    width: 15vw;
    height: 4vh;

    border: none;
    border-radius: 10px;

    @media (max-width:768px) {
        padding:  0 0 0;
    }

}

.inputStyleQuestion {
    width: 15vw;
    height: 18vh;
    border-radius: 10px;
    border: none;
}

.inputStyleQuestion::placeholder {
    text-align: start; 
    padding-top: 5px; 
}

.mapa {

}

.localizacaoSpan {

}

@media (min-width: 610px) and (max-width: 768px) {
    .logoOceania {
        width:30vw;
        height: 10vh;
    }
}

@media (max-width: 768px) {
    .cardContato {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;

        background-color: transparent;
    }

    .titleStyle h2{
        display: none;
    }

    .localizacaoSpan {
        display: none;
    }

    .mapa {
        display: none;
    }

    .logoOceania{
        width: 100vw;
    }

    .container {
        width: 70vw;
        height: 85vh;

        padding-bottom: 5%;
    }

    .containerInput {
        padding-top: 5%;
    }

    .inputStyle {
        width: 55vw;
        height: 6vh;
    }

    .inputStyleQuestion {
        width: 55vw;
        height: 15vh;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    
    .cardContato {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;

        background-color: transparent;
    }

    .logoOceania {
        width: 80vw;
    }

    .titleStyle h2{
        display: none;
    }

    .localizacaoSpan {
        display: none;
    }

    .mapa {
        display: none;
    }

    .container {
        width: 50vw;
        height: 55vh;
    }

    .inputStyle {
        width: 40vw;
        height: 5vh;
    }

    .inputStyleQuestion {
        width: 40vw;
    }

}

@media (min-width: 1025px) and (max-width: 1200px) {
    
    .cardContato {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90vh;

        gap: 1px;
    }

    .titleStyle h2{
        display: none;
    }

    .localizacaoSpan {
        display: none;
    }

    .mapa {
        display: none;
    }

    .container {
        width: 50vw;
        height: 60vh;
    }

    .inputStyle {
        width: 40vw;
        height: 5vh;
    }

    .inputStyleQuestion {
        width: 40vw;
    }
}