.cabecalho {
    padding: 1% 0 2% 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerLista {
    display: flex;
    gap: 100px;
}

.menu {
    color: var(--azul-claro);
    list-style: none;
    font-size: 20px;
}

.containerProfile {
    display: flex;
    gap: 22px;

    font-size: 22px;
}

.Link {
    text-decoration: none;
    color: var(--azul-claro);
}