@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


:root {
  --cor-principal: #FAF0E6;
  --azul-escuro: #20354a;
  --azul-claro: #354e67;
  --azul-suporte: #113946;
  --cinza: #ecf0f1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--cor-principal);
  height: 100%;
}

html, #__next {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.firstContainer {
  display: flex;
  align-items: center;
  gap: 20px; /* Ajusta o gap para ser mais responsivo */
  flex-wrap: wrap; /* Permite que os itens se ajustem quando o espaço é pequeno */
}

.columStyle {
  display: flex;
  flex-direction: column;
  color: var(--cor-principal);
  margin-bottom: 10px; /* Adiciona espaço inferior para itens empilhados */
}

.columStyle span {
  font-weight: 700;
}

.linkStyle {
  font-weight: 300;
  font-size: 14px;
  color: var(--cor-principal);
  text-decoration: none;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--azul-claro);
  border-radius: 6px;
  border: 3px solid var(--cor-principal);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--azul-claro) var(--cinza);
}

*::-webkit-scrollbar-track-piece {
  background: var(--cinza);
}

*::-webkit-scrollbar-thumb:vertical {
  background-color: var(--azul-claro);
  border-radius: 6px;
  border: 3px solid var(--cor-principal);
}
