:root {
  --cor-principal: #FAF0E6;
  --azul-escuro: #20354a;
  --azul-claro: #354e67;
  --azul-suporte: #113946;
  --cinza: #ecf0f1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--cor-principal);
  height: 100%;
}

html, #__next {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1; 
}


::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}


::-webkit-scrollbar-thumb {
  background-color: var(--azul-claro);
  border-radius: 6px;
  border: 3px solid var(--cor-principal); 
}

* {
  scrollbar-width: thin; 
  scrollbar-color: var(--azul-claro) var(--cinza); 
}

*::-webkit-scrollbar-track-piece {
  background: var(--cinza);
}

*::-webkit-scrollbar-thumb:vertical {
  background-color: var(--azul-claro);
  border-radius: 6px;
  border: 3px solid var(--cor-principal);
}
