.button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--azul-claro);
    width: 7vw;
    height: 5vh;

    border-radius: 10px;
    color: var(--cor-principal);
    font-weight: 700;
}