.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-claro);
    width: 7vw;
    height: 5vh;
    border-radius: 10px;
    border: none ; 
    color: var(--cor-principal);
    font-weight: 800;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #708090;
}

.button:active {
    background-color: var(--azul-claro);
}

.inverse {
    background-color: var(--cor-principal);
    color: var(--azul-claro);
}

.large {
    width: 14vw; 
    height: 10vh; 
}

.small {
    width: 5vw; 
    height: 3vh; 
}

.info {
    background-color: #17a2b8; 
    color: #ffffff; 
}

.danger {
    background-color: #dc3545; 
    color: #ffffff; 
}

@media (min-width: 769px) and (max-width: 1024px) {
    .button {
        width: 12vw;
    }
}

@media only screen and (max-width: 768px) {
    .button {
        width: 15vw; 
    }
}

@media only screen and (max-width: 576px) {
    .button {
        width: 20vw; 
    }
}
