.sectionContainer {
    padding: 5% 7% 5% 7%;

    display: flex;
    gap: 22px;

    background-color: var(--azul-escuro);
}

.title {
    color: var(--cor-principal);
    font-size: 42px;
}

.paragraph {
    color: var(--cor-principal);
    font-size: 22px;
}